body {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background: url('https://pbs.twimg.com/profile_banners/2864336072/1439911424/1500x500');
    font-weight: 300;
}
.thatdiv {
    background: #111;
    box-shadow: 2px 2px 28px 1px rgba(255,255,255,1);
    height: 55%;
    color: white;
}
img {
    margin-top: 120px;
    margin-bottom: -60px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
h1 {
    font-size: 35px;
    padding-top: 45px;
    font-weight: 200 !important;
}
a {
    color: black;
    font-size: 30px;
    padding: 10px;
    transition: 0.3s;
}
a, a img, h1 {
    display: inline-block;
}
#a {
    display: inline;
    padding-right: 150px;
}
#b {
    display: inline;
    padding-left: 150px;
}
i {
    color: white;
}
