body {
    font-family: 'Noto Sans';
    text-align: center;
    background: #EEE;
}
.thatdiv {
    background: #FFF;
    box-shadow: 2px -4px 28px 1px rgba(112,112,112,1);
    height: 55%;
}
img {
    margin-top: 120px;
    margin-bottom: -60px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
h1 {
    font-size: 35px;
    padding-top: 45px;
}
a {
    color: black;
    font-size: 30px;
    padding: 10px;
    transition: 0.3s;
}
a, a img, h1 {
    display: inline-block;
}
#a {
    display: inline;
    padding-right: 150px;
}
#b {
    display: inline;
    padding-left: 150px;
}