html,body {
  height:100%;
}
body {
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  font-family: 'Raleway';
  font-weight: 300;
  text-align: center;
  background: url('http://3.bp.blogspot.com/-k8W7UwkacXw/U-J-qTkel1I/AAAAAAAAGdE/T-69E0WNcJk/s1600/repeating-vintage-paper-background.jpg');
}
h1 {
  font-size: 55px;
  color: #A49480;
}
h4 {
  background: rgba(230,190,160,0.2);
  padding: 20px;
  color: #444;
}
a {
  font-size: 35px;
  color: #A49480;
  text-decoration: none;
  padding: 10px;
  transition: 0.4s;
}
a:hover {
  color: #cc9480;
}
